header {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1, h2 {
        font-weight: Bold;
        font-size: 1.6rem;
        line-height: 24px;
        letter-spacing: 1.1 px;
    }

    a {
        font-size: .6rem;
        font-weight: bold;
    }

}

// Header for Home page
.header-home {    
    background-image: url('../delicious-assets/home-1.jpeg');
    min-height: 100vh;

    ul li:first-child a {
        color: $color-dark-green;
    }
}

// Header for Blog page
.header-blog {
    background-image: url('../delicious-assets/blog-1.jpeg'); 
    min-height: 60vh; 
    
    ul li:nth-child(5) a {
        color: $color-dark-green;
    }
}

// Header for Contact page
.header-contact {
    background-image: url('../delicious-assets/contact-1.jpeg'); 
    min-height: 60vh; 
    
    ul li:nth-child(7) a {
        color: $color-dark-green;
    }
}

//-------------------------------------------------
// Navigation
//-------------------------------------------------

// Shopping Bag stylling

.top-bar ul li:nth-child(8) a {
    position: relative;
}

.top-bar ul li:nth-child(8) span.green-circle {
    width: 15px;
    height: 15px;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    border-radius: 50%;
    background: $color-dark-green;
    color: white;
    position: absolute;
    bottom: -4px;
    right: -10px;   
    line-height: 14px; 
}

// ---------------------------------------------

nav {
    display: flex;

    .logo,
    ul {
            flex: 1 0 50%;
    }

    @media(max-width: 1000px) {
        .logo {
            flex: 1 1 40%;
        }

        ul {
            flex: 1 0 60%;
        }
    }
}


// Hamburger Menu

#ham-label {
  position: absolute;
  top: -100px;
  display: none;
}


@media(max-width: $second-bp) {  
    .nav-items {
        display: flex;
        flex-direction: column;
    }
    
    ul.nav-items {
        width: 200px;
        visibility: hidden;
    }

    #ham-label {
        display: block;
    }

    label.toggle-label {
        display: initial;
    }

    .toggle-label span:after {
        content: "\2630";
    }

    .toggle-label span {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    #ham-label:checked ~ label {
        span:after {
            content: "\2715";
        }
        
    }

    #ham-label:checked ~ ul.nav-items {
        visibility: visible;

        position: absolute;
        top: 4rem;
        right: 3rem;
    }

    ul.nav-items li {
        background: white;
        width: 100%;
    }  
}


