
// About Section

.recipes,
.menu {    
    display: flex;    
}

.menu {
    flex-direction: row;

    @media(max-width: $first-bp) {
        flex-direction: column;
    }
    
}

.recipes-image,
.recipes-intro,
.menu-image,
.menu-list {
    flex: 1 1 50%;

    @media(max-width: $first-bp) {
        flex: 1 1 90%;
    }
}

.recipes {
    flex-direction: row-reverse;

    @media(max-width: $first-bp) {
        flex-direction: column;
    }

    .recipes-intro {    
        margin: auto;
        
        h2 {
            font-size: 1rem;
        }


        h2:after {
            @include heading-underline(25%);
        }

        p {
           @include p-style;
        }

        a {
            font-size: .5rem;
            background: $color-dark-green;
            color: $color-white;
            padding: .5rem .8rem;
        }

        .recipes-intro-container {
            @include  align-center(21rem);
        }

         @media(max-width: $first-bp) {
            padding: 1rem 0;;
        }
    }
}



.menu-list {
    background-color: darken($color-white, 2%);
    display: flex;
    align-items: center;
    justify-content: center;

     @media(max-width: $first-bp) {
            padding: 2rem 0;
    }


    ul {
        max-width: 22rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;  
        margin: auto auto;  

        @media(max-width: $first-bp) {
            max-width: 37rem;
        }

        @media(max-width: $second-bp) {
            max-width: 31rem;
        }

    }
    
}

.menu-list ul li {
    flex: 1 1 30%;
    text-align: left;
    display: flex;
    justify-content: space-between;

    a i {
        font-size: 1rem;
        margin: 0 .5rem;
    }
    .menu-item-details {
        h3 a {
            font-size: .8rem;
            
        }

        h3 {
            margin: 0;
        }

        p {
            font-size: .5rem;
            line-height: .8rem;
        }
    }    
}
// ----------------------------------------
// Our Restaurant Section
//-----------------------------------------

.our-restaurants {
    padding-top: 7rem;
    padding-bottom: 3rem;

     @media(max-width: $first-bp) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .our-restaurants-pics {
        @include align-center(18rem);
        position: relative;

        .circle-text-image {
            position: absolute;
            width: 7rem;
            top: -3.5rem;
            right: -3.5rem;
        }
    }
}


.our-restaurants-text {
    p {
        @include p-style;
    }

    @include align-center(28rem);

    h2:after {
        @include heading-underline(10%);
    }
}

// ----------------------------
// Gallery
// -----------------------------

.gallery .wrapper {
    padding-bottom: 0;
}
.gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
        flex: 1 1 33.33%;

        img {
            display: block;
        }
    }
}

// --------------------------------------
// Hungry Client
// ----------------------------------------

.testimonial {
    background-color: $color-light-green;
    padding: 3rem 0;

    @media(max-width: $first-bp) {
        padding: 2rem 0;
    }
}

.testimonial-center {
    @include align-center($width-wrapper-center);

    h2:after {
        @include heading-underline(10%);
    }

    blockquote {
        padding: 1rem;
        font-size: .7rem;
        line-height: 1rem;
        font-style: italic;
        position: relative;

        &:before {
            content: '\201C';
            font-size: 5rem;
            color: lighten($color-white, 5%);
            position: absolute;
            top: 1rem;
            left: -4rem;
        }

        &:after {
            content: '\201D';
            font-size: 5rem;
            color: lighten($color-white, 5%);
            position: absolute;
            bottom: -1rem;
            right: -4rem;
        }
    }
    
    p i {
        padding: 1rem 0;
        font-size:1.5rem;
        color: lighten($color-white, 5%);
        margin: .6rem;

        &:first-child {
            color: darken($color-white, 2%)
        }
    }
    
}

