
// About Section

.recipes,
.menu {    
    display: flex;
    
}

.recipes {
    flex-direction: row-reverse;
    
}

.menu {
    flex-direction: row;
    
}

.recipes-image,
.recipes-intro,
.menu-image,
.menu-list {
    flex: 1 1 50%;
}

.menu-list {
    padding: 10px;
}

.menu-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // align-content: space-around;
}

.menu-list ul li {
    flex: 1 1 50%;
    text-align: left;
}
// ----------------------------------------
// Our Restaurant Section
//-----------------------------------------

.our-restaurants {
	max-width: 600px;
    margin: 0 auto;
    
    .images {
        position: relative;
    }

    .circle-text-image {
        position: absolute;
        width: 200px;
        top: -100px;
        right: -100px;
    }
}

// ----------------------------
// Gallery
// -----------------------------

.gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // align-content: space-around;
}

.gallery ul li {
    flex: 1 1 33.33%;
}

// --------------------------------------
// Hungry Client
// ----------------------------------------

.testimonial {
    background-color: $color-dark-green;
    
}

.testimonial-center {
    width: $width-wrapper-center;
    margin: 0 auto;
    text-align: center;
}

